opencv-python
opencv-contrib-python
prettytable
tqdm
yacs
torchfile
plyfile
munkres
chumpy
trimesh
shyaml
PyYAML>=5.1.2
numpy-quaternion
open3d==0.9.0
pygame
keyboard
transforms3d
bvhtoolbox
vedo
imgaug
lap